body,
ul {
    padding: 0
}

a,
nav li {
    display: inline-block
}

* {
    box-sizing: border-box
}

body {
    margin: 0
}

a {
    color: #fff;
    text-decoration: none
}

.image-gallery li:hover h3,
a:hover {
    text-decoration: underline
}

header {
    background: #a00
}

footer {
    background: #333;
    clear: both
}

ul {
    list-style: none
}

nav ul {
    margin: 0;
    padding: 20px 10px;
    font-size: 20px
}

nav li a {
    padding-right: 20px
}

footer nav,
header nav,
section {
    width: 960px;
    margin: 0 auto
}

.image-gallery li {
    float: left;
    text-align: center;
    width: 25%
}

.image-gallery li:hover img {
    border: 2px solid #333;
    display: block;
    margin: 0 auto
}
/* 480px is a standard break point for mobil */ 
@media screen and (max-width: 480px) {
    header nav, footer nav, section {
        width: auto;
    }

    nav li, a {
        display: block;
    }
/* though it looked cool, I know hover doesn't work on a phone :p */
    header a:hover {
        color: #a00;
        background: #fff;
        text-decoration: none;
    }
/* though it looked cool, I know hover doesn't work on a phone :p */
    footer a:hover {
        color: #333;
        background: #fff;
        text-decoration: none;
    }

    nav li {
        border: 1px solid #fff;
    }
/* zero padding on nav ul gets rid of surround red/grey color so that the #fff border just looks like a single line separating the links */
    nav ul {
        padding: 0;
    }

    .image-gallery li {
        width: 50%;
    }
}