html {
    background: url('../pictures/mainMe.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

h1 {
    color: #EDDFD5;
}

nav a {
    text-decoration: none;
    color: #EDDFD5;
    font-weight: bold;
    padding: 1%;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    color: #002626;
}

p {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5%;
    color: #002626;
    float: left;
    font-weight: bold;
    margin: 10% auto;
    padding: 1%;
    text-align: left;
    width: 25%;
}

}