* {
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    margin: 0 auto;
    background: #C0DCF9;
}

.me {
    background: url('/pictures/mainMe.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    height: 1200px;
    max-width: 1436px;
    margin: 0 auto;
}

.me h1 {
    color: #C0DCF9;
}

.me nav a {
    text-decoration: none;
    color: #C0DCF9;
    font-weight: bold;
    padding: 1%;
}

a:hover {
    text-decoration: transparent;
}