* {
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

div {
  background: url('/pictures/thebluff.jpg') no-repeat center center fixed; 
  background-size: cover;
  width: 100%;
  height: 100%;
}

/*.me h1 {
    color: #C0DCF9;
}

.me nav a {
    text-decoration: none;
    color: #C0DCF9;
    font-weight: bold;
    padding: 1%;
}

nav a:hover {
    text-decoration: overline underline;
} */